body{
    background-color: white;
    padding: 0px;
    margin: 0px;
}
.header-section-special{
    color: white;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    padding: 30px 80px;
    margin: 50px 140px;
    align-items: center;
}
h1{
    font-size: 70px;
    font-weight: 700;
}
.header-section-special a{
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 10px;
    padding: 10px 5px;
}

footer{
    background-color: #161616;
    color: white;
    padding: 30px 100px;
    text-align: center;

}
/* .adjust-in-footer{
    text-align: center;
} */
.take-something-togather{
    display: flex;
    justify-content: space-between;
}