/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Dongle&family=Poppins:wght@500&display=swap');

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* header section started */
#header-section-special{
    color: white;
    background-color: #161616;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 0px 100px;
    padding-bottom:70px;
    margin: 50px 80px;
    align-items: center;
}
#header-section-special p{
    font-size: 16px;
    font-weight: 400;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
#header-section-special a{
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 10px;
    padding: 10px 5px;
}
#header-section-special a:hover {
    background-color: gray
}

#header-section-special img{
    width: 323px;
    height: 340px
}

/* second section started */
#section-2{
    display: flex;
}
#updates-blogs-matches{
    background-color: #161616;
    border-radius: 30px;
    margin: 30px 20px;
    padding: 20px 0px;
    padding-right: 30px;
    height: 200px;
}

nav li{ 
    list-style: none;
    padding: 5px;
}
li button{
    border-radius: 10px;
    padding: 5px 10px;
}
li a{
    font-size: 16px;
    font-weight: 400;
    color: #161616;
    text-decoration: none;
}
.special-button{
    background-color: #DD0000;
}
.adjust-flags{
    display: flex;
    padding: 20px;
    padding-left: 28px;

}
.container{
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 250px;
    height: 250px;
    text-align: center;
}
.container img{
    width: 80px;
}
.blogs-together{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 20px;
}

/* footer started */
footer{
    margin-top: 30px;
    width: 100%;
    background-color: #161616;
    color: white;
    padding: 30px 100px;
    text-align: center;

}

.take-something-togather{
    display: flex;
    justify-content: space-between;
}

/*-------------
media queries
-------------- */
 /* For mobile devices */
 @media only screen and (max-width:688px){
    #header-section-special{
        grid-template-columns:  repeat(1,1fr);;
    }
    #section-2{
        flex-direction: column;
    }
    .blogs-together{
        grid-template-columns: repeat(1,1fr);
    }
.take-something-togather{
    flex-direction: column;
}

 }

 /* For tablet devices */
 @media only screen and (min-width:689px) and (max-width:880px){
    #section-2{
        flex-direction: column;
    }
    .blogs-together{
        grid-template-columns: repeat(2,1fr);
    }
 }